* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 20px;
}

p {
    float: right;
}

canvas {
    border: 1px solid gray;
    border-radius: 5px;
}